[Unit]
Description=Ngrok
After=network.service

[Service]
type=simple
User=faisal
WorkingDirectory=/home/faisal
ExecStart=/usr/bin/ngrok start --all --config="/idreesia-digitalocean/ngrok/config.yml"
Restart=on-failure

[Install]
WantedBy=multi-user.target